body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  max-width: 1100px; /* Added a max width to the site to conform with site mock ups */
  margin: auto;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/***************** NAV *****************/

nav ul {
  background-color: #4980D2; /* Matches the color used in the mock up */
}

/* Use flex box on the nav elements and set the width to each element to 30% */
nav ul li {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
}

nav ul li a {
  text-align: center;
  color: white;
  font-weight: bold;
}

/* Change the color of the shopping cart from black to white */
nav ul .fa-shopping-cart {
  color: white;
}

/* Style the cart nav element differently than the text nav. Smaller width and aligh right. */
nav ul #last-nav {
  display: inline-flex;
  flex-direction: column;
  text-align: right;
  width: 5%;
}

/* Remove text decorations */
nav a {
  text-decoration: none;
  font-size: 100%;
  text-align: right;
}

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
  float: left;
}
/* Again match the color from the mock up and ensure that the header maintains the same size and shape relative to screen size */
h1 {
  color: #4980D2;
  width: 20rem;
  font-size: 2rem;
  padding-top: 2%;
}

h1 .logo-w {
  font-size: 2.5rem;
  color: #4980D2;
}

/**************** GRID ****************/

main {
  clear: both;
}

[class*='col-'] {
  float: left;
}
.col-1-6 {
  width: 16%;
}
.col-5-6 {
  width: 84%;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/**************** ASIDE ****************/

main aside {
  max-width: 11%;
  float: left;
  padding-top: 3.5rem;
}

input[type="submit"] {
  width:100%;
  padding: .25rem;
  margin-top: .5rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

input[type="email"] {
  width:100%;
  box-sizing: border-box;
}

#afterSubmit {
  color: green;
  font-weight: bold;
}

/*********** PRODUCTS SECTION ***********/

main section {
  padding: 0 .75rem;
}

h2 {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: 5%;
}

/* use flex box to control the layout of the product boxes inside the section grid */

.item-container {
  display: flex;
  justify-content: center; /*center the product divs within the section, primarily for the last row that has only two boxes */
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  flex-wrap: wrap; /* allow the divs to wrap to the next line */
}

.item-container div {
  width: 30%;
  height: auto;
  margin-bottom: 10px;
  border: solid 1px black;
  margin: 1%;
  padding: .25%;
}

.item-container div img {
  max-width: 70%;
  margin: auto;
  display: block;
}

.item-container div p {
  font-size: 80%;
  text-align: center;
  padding-top: 5%;
}

.item-container div .price {
  font-size: 130%;
}

/* Create a media query at 600 pixels */

@media only screen and (max-width: 600px) {
  .item-container div {
    width: 42%;
  }
  .col-1-6 {
    width: 30%;
  }
  .col-5-6 {
    width: 70%;
  }
  main aside {
    max-width: 22%;
  }
}

/* Create a media query at 320 pixels */

@media only screen and (max-width: 320px) {
  .item-container div {
    width: 80%;
  }
  .col-1-6 {
    width: 100%;
  }
  .col-5-6 {
    width: 100%;
  }
  main aside {
    max-width: 100%;
    padding-top: .5rem;
  }
}



